:root {
    --color-principal: #2d3142;
    --color-fondo-principal: #d8d5db;
    --color-fondo-secundario: #adacb5;
    --color-texto: #333;
    --altura-cabecera-pie: 100px;
}

.cuerpo {
    color: var(--color-texto);
    font-family: Poppins, sans-serif;
}

.cabecera,
.pie {
    background-color: var(--color-principal);
    height: var(--altura-cabecera-pie);
}

.principal {
    background-color: var(--color-fondo-principal);
}

.sidebar {
    background-color: var(--color-fondo-secundario);
    flex: 1;
}

.principal,
.sidebar {
    padding-top: 20px;
    padding-bottom: 20px;
}

.bloque {
    padding-left: 15px;
    padding-right: 15px;
}

.sidebar .listado+.listado {
    margin-top: 15px;
}

.contenedor-principal {
    min-height: calc(100vh - var(--altura-cabecera-pie) * 2);
}

.principal {
    flex: 2;
}

@media (min-width: 500px) {
    .contenedor-principal {
        display: flex;
    }
}